name: Build and Commit

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install --no-save
      - run: bun run lint
      - run: bun run test
      - run: bun run build
      - run: |
          git config user.name github-actions
          git config user.email github-actions[bot]@users.noreply.github.com
          git add dist/
          if git commit -m "Update build" ; then
            git push origin HEAD:main
          fi
